/* Skeleton */
html {
  font: 15px Signika, Georgia, serif;
}
html, body {
  margin: 0;
  padding: 0;
}
#wrapper {
  margin: 1em auto;
  width: 960px;
}
#mast {
  background: #0F214A;
  color: #DFE833;
  padding: 0.5em 0;
  text-shadow: 0px 1px 10px #051030;
  top: 0;
  width: 100%;
}
h1 {
  font-size: 190%;
  margin: 0 auto;
  width: 960px;
}
h1 .tm {
  color: #F2F0D8;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
}

/* Main */
#main {
  width: 250px;
}
#main .section {
  margin: 1em 0;
}
#main .inner {
  padding: 1.5em 1em 0 1em;
}
#main .inner input[type=checkbox], #main .inner input[type=radio] {
  margin-right: 0.5em;
}
#main h2 {
  color: #BA0000;
  font-size: 140%;
}
#main h2 .num {
  color: #362E2E;
  font-size: 110%;
}
#main h2 .num:after {
  content: '.';
}
label, input[type=submit] {
  cursor: pointer;
}
#main .submit {
  border-top: 1px solid #B5B5B5;
  margin: 0 auto;
  padding-top: 1.5em;
  text-align: center;
}
#main .submit p {
  color: #5C5C5C;
  font-size: 90%;
  margin-bottom: 1em;
}
#main .submit a:link, #main .submit a:visited, #main .submit a:active {
  background: #BA0000;
  border: 1px solid #8C1818;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font: 15px Signika, Georgia, serif;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 1px 1px 3px #8C1818;
}
#main .submit a:hover {
  background: #A80000;
  text-shadow: 1px 1px 1px #8C1818;
}
#main .submit a:active {
  position: relative;
  left: 1px;
  top: 1px;
}
#main .submit a.disabled {
  cursor: normal;
  opacity: .5;
}

#data-sets {
  display: none;
  max-height: 150px;
  overflow: auto;
}
#data .inner label {
  background: #EBEFFA;
  color: #000;
  display: block;
  font-size: 90%;
  padding: 0.5em;
  text-decoration: none;
}
#data .inner label.disabled {
  opacity: .6;
}
#data .inner label:hover {
  background: #E1E5ED;
}
#data .inner label + label {
  border-top: 1px solid #A3ADC4;
}
#data .inner label#all, #data .inner label#random {
  background: #163075;
  color: #DFE833;
  text-shadow: 0px 1px 1px #051030;
}
#loading-data {
  color: #5C5C5C;
  font-size: 80%;
  padding: 1em;
  text-align: center;
}
#add-data-set {
  padding: 0.5em;
  text-align: center;
}
#add-data-set a {
  background: #2A57D4;
  border: 1px solid #3F588F;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 80%;
  padding: 0.7em 1em;
  text-decoration: none;
  text-shadow: 1px 1px 2px #3F588F;
}
#add-data-set a:hover {
  background: #2147B0;
}
#add-data-set-area {
  border-top: 1px solid #EBEBEB;
  display: none;
  margin-top: 0.5em;
  padding: 0.5em;
}
#add-data-set-area p {
  margin-bottom: 0.5em;
}

#process .process + .process {
  padding: 1em 0;
}

/* Options */
#options {
  display: none;
}
#options .graph-option {
  display: none;
}
#options fieldset {
  font-size: 90%;
}
#options fieldset + fieldset {
  margin-top: 1em;
}
#options fieldset legend {
  border-bottom: 1px solid #eee;
  color: #878787;
  display: block;
  font-size: 110%;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  width: 100%;
}
#options fieldset .fieldset-inner {
  padding: 1em;
}
#options label, select {
  display: block;
}
#options select[multiple] {
  width: 90%;
}
#options select[multiple] option {
  padding: 0.5em;
}
#options .visual {
  clear: both;
}
#options .visual {
  margin: 0.5em 0;
  overflow: hidden;
}
#options .visual label {
  float: left;
}
#options .visual label:after {
  content: ':';
}
#options .visual .color-container {
  float: right;
}

/* Graph */
#graph {
  border: 1px solid #eee;
  float: right;
  width: 680px;
}
#graph .inner {
  padding: 1em;
}
#graph .inner p {
  color: gray;
  margin: 2em auto;
  text-align: center;
}
#graph-loading {
  background: url(loading.gif) no-repeat bottom center;
  display: none;
  height: 100px;
}

/* Footer */
#footer {
  border-top: 1px solid #EBEBEB;
  bottom: 0;
  clear: both;
  color: #8F8F8F;
  font-size: 80%;
  position: absolute;
  width: 100%;
}
#footer .inner {
  padding: 1em;
}
#footer a {
  text-decoration: none;
}
#footer a .name {
  color: #BA0000;
}
#footer a .name:before {
  color: #8F8F8F;
  content: "@";
  text-decoration: none;
}

/* ColorPicker */
div.color {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(images/select.png);
}
div.color .colorsub {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(images/select.png) center;
}