/* Skeleton */
html {
  font: 15px Signika, Georgia, serif;
}
html, body {
  margin: 0;
  padding: 0;
}
#wrapper {
  margin: 1em auto;
  width: 960px;
}
#mast {
  background: #0F214A;
  color: #DFE833;
  padding: 0.5em 0;
  text-shadow: 0px 1px 10px #051030;
  top: 0;
  width: 100%;
}
h1 {
  font-size: 190%;
  margin: 0 auto;
  width: 960px;
}

/* Forms */
form {
  width: 250px;
}
form .section {
  margin: 1em 0;
}
form .inner {
  padding: 1.5em 1em 0 1em;
}
form .inner input[type=checkbox], form .inner input[type=radio] {
  margin-right: 0.5em;
}
form h2 {
  color: #BA0000;
  font-size: 140%;
}
form h2 .num {
  color: #362E2E;
  font-size: 110%;
}
form h2 .num:after {
  content: '.';
}
label, input[type=submit] {
  cursor: pointer;
}
form .submit {
  border-top: 1px solid #B5B5B5;
  margin: 0 auto;
  padding-top: 1.5em;
  text-align: center;
}
form .submit a:link, form .submit a:visited, form .submit a:active {
  background: #BA0000;
  border: 1px solid #8C1818;
  border-radius: 3px;
  color: #fff;
  font: 15px Signika, Georgia, serif;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 1px 1px 3px #8C1818;
}
form .submit a:hover {
  background: #A80000;
  text-shadow: 1px 1px 1px #8C1818;
}
form .submit a:active {
  position: relative;
  left: 1px;
  top: 1px;
}

#data .inner {
  max-height: 150px;
  overflow: auto;
}
#data .inner label {
  background: #EBEFFA;
  color: #000;
  display: block;
  font-size: 90%;
  padding: 0.5em;
  text-decoration: none;
}
#data .inner label.disabled {
  opacity: .6;
}
#data .inner label:hover {
  background: #E1E5ED;
}
#data .inner label + label {
  border-top: 1px solid #A3ADC4;
}
#data .inner label#all, #data .inner label#random {
  background: #163075;
  color: #DFE833;
  text-shadow: 0px 1px 1px #051030;
}

#process .process + .process {
  padding: 1em 0;
}

/* Graph */
#graph {
  border: 1px solid #eee;
  float: right;
  width: 680px;
}
#graph .inner {
  padding: 1em;
}

/* Footer */
#footer {
  border-top: 1px solid #EBEBEB;
  bottom: 0;
  clear: both;
  color: #8F8F8F;
  font-size: 80%;
  position: absolute;
  width: 100%;
}
#footer .inner {
  padding: 1em;
}
#footer a {
  text-decoration: none;
}
#footer a .name {
  color: #BA0000;
}
#footer a .name:before {
  color: #8F8F8F;
  content: "@";
  text-decoration: none;
}